body {
    font-family: sans-serif;
}

header{
    background-color: rgba(247, 134, 108, 0.788);
    padding:20px
}

hader a{
    text-decoration: none;
    color:rgba(136, 118, 237, 0.318);
}

a:hover{
         
}

    
}
